{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zingiz esdan chiqdimi?{% endblock title %}

{% block content %}
<div class="container-fluid container" style="padding:7vh 5vh; ">

    <h1>Kalit so'zingiz esdan chiqdimi?</h1>
    <p>Quyida email manzilingizni kiriting, biz sizga kalit so'zni
    tiklash uchun qo'llanma (link) yuboramiz.</p>
    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit"
        value="Yuborish!">
        <a href="{% url 'login' %}" class="btn btn-secondary">Orqaga qaytish</a>.</p>

    </form>
</div>
{% endblock content %}