{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login parolni o'zgartirish
{% endblock title %}

    {% block content %}
<div class="container-fluid container" style="padding:7vh 5vh; ">
    <h1>Login parolni o'zgartirish</h1>
    <p>Oldin avvalgi parolni keyin esa yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class="btn btn-success">Saqlash</button>
        </form>
    </div>
    {% endblock content %}
    